**/bin/**/*
**/obj/**/*
**/*.userprefs
**/routine.test.db
**/*.suo
**/*.csproj.user
**/TestResults/**/*
**/*.nupkg
**/Thumbs.db
**/.DS_Store
packages/**/*

*.user
*.lock

*.ide
**/_ReSharper.Caches/**/*

/.vs

**/*.sw?
**/.coverage/*
