<div class="input-group" ng-show="data == null">
	<p class="form-control"><em>null</em></p>
	<span class="input-group-btn" ng-click="setValue({i:i})">
		<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i></button>
	</span>
</div>
<div class="input-group" ng-show="data != null && model.StaticInstances.length === 1 && model.Initializer.Parameters.length <= 0">
	<p class="form-control">
		<span>{{model.StaticInstances[0].Display}}</span>
	</p>
	<span class="input-group-btn" ng-click="unsetValue({i:i})">
		<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-remove"></i></button>
	</span>
</div>
<div class="input-group" ng-show="data != null && model.StaticInstances.length > 1 && model.Initializer.Parameters.length <= 0">
	<select class="form-control"
			ng-model="data.Id">
		<option ng-repeat="instance in model.StaticInstances"
				value="{{instance.Id}}">
			{{instance.Display}}
		</option>
	</select>
	<span class="input-group-btn" ng-click="unsetValue({i:i})">
		<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-remove"></i></button>
	</span>
</div>
<div class="input-group" ng-show="data != null && model.StaticInstances.length <= 0 && model.Initializer.Parameters.length <= 0">
	<input type="text" class="form-control"
		   placeholder="{{model.IsValueModel?'Value':'Id'}}"
	       ng-model="data.Id" />
	<span class="input-group-btn" ng-click="unsetValue({i:i})">
		<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-remove"></i></button>
	</span>
</div>
