@model ObjectCodeModel

namespace @model.Namespace
{
	[ServiceContract]
	public interface I@model.Name
	{
		public ServiceResult<@operation.ReturnType> @operation.Name(AuthenticationToken token, @operation.RenderParameters);
	}

	public class @model.Name : I@model.Name
	{
		public @typeof(Robject).FullName Robject{get; private set;}
	}
}
