@model ObjectCodeModel

namespace @model.Namespace
{
	[ServiceContract]
	public interface I@model.Name
	{
		public ServiceResult<@operation.ReturnType> @operation.Name(string appToken, string languageCode, @operation.RenderParameters);
	}

	public class @model.NameData : I@model.Name
	{
		public @typeof(Robject).FullName Robject{get; private set;}
	}
}
