<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="http://nuget.multinet.com.tr/nuget/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAs9mzVlViW0+0yP+2yG/OMgAAAAACAAAAAAADZgAAwAAAABAAAACJ1BlTIcmiVmXhjYzZSiq7AAAAAASAAACgAAAAEAAAAFfmlfHPnoagOmCp4DzQnjRoAAAAI0w/1lZsuWJGhDhNAor+QQBLOte5csxYruNLtMnhLsWYPAdz1uu2LMTC4CXvO7LYGo5Bvr3Wa+/t74A8bMZYnzoupm4OP7sDWXzyoFuOH2XTSW3GD+3uA6VWohxbkmtSTFGRFvOoxNMUAAAAcb0cA69icZtquWIP5u2hmTCcYO0=" />
  </apikeys>
</configuration>