<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="http://nuget.multinet.com.tr" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAs9mzVlViW0+0yP+2yG/OMgAAAAACAAAAAAADZgAAwAAAABAAAADuXvvnB1/mYHNveAwgI0fHAAAAAASAAACgAAAAEAAAAE9MuH0usZo/er+35sXVe/5oAAAA5G9zP3h6zwtzYugqcs0wAx1mgt7FG02/TvV9ZsUDqMr5sH9in7Aj5pGZ6UIRdjOAHCrEP9nEayY8RqHNM1zLuwF1aF0Y5vdtxYaurIbUx2bzdwEqXHNwJGuYmU0kPs4HDLeBahP0qv8UAAAAGGqUNDPo3E3Jbvi3j/7gDBEoonU=" />
  </apikeys>
</configuration>